# AULA 14: MERGE LEFT JOIN

In [1]:
import pandas as pd

In [4]:
vendas_DF = pd.read_excel("Vendas_LEFT_JOIN.xlsx")
vendedores_DF = pd.read_excel("Vendedores_LEFT_JOIN.xlsx")

In [5]:
#how= como
#left = Trazer os dados pela esquerda 
verificandoVendas_DF = pd.merge(vendas_DF, vendedores_DF, on='Id Vendedor', 
                                how="left")
print(verificandoVendas_DF)

   Id Vendedor        Vendedor_x  Vendas      Vendedor_y
0        27264  Leonardo Almeida    4144             NaN
1        21732    Eliane Moreira    7985             NaN
2        27082   Nicolas Pereira    7892             NaN
3        22936    Amanda Martins    5469  Amanda Martins
4        21164      Paulo Santos    6572             NaN
5        28824   Gabriel Cardoso    6140             NaN
6        37579      Angela Maria    5003    Angela Maria
7        20437    Carlos Moreira    6799  Carlos Moreira

In [6]:
verificandoVendas_DF_2 = pd.merge(vendas_DF, vendedores_DF, on='Id Vendedor', 
                                how="left", suffixes=('Vendas',"Checagem"))
print(verificandoVendas_DF_2)

   Id Vendedor    VendedorVendas  Vendas VendedorChecagem
0        27264  Leonardo Almeida    4144              NaN
1        21732    Eliane Moreira    7985              NaN
2        27082   Nicolas Pereira    7892              NaN
3        22936    Amanda Martins    5469   Amanda Martins
4        21164      Paulo Santos    6572              NaN
5        28824   Gabriel Cardoso    6140              NaN
6        37579      Angela Maria    5003     Angela Maria
7        20437    Carlos Moreira    6799   Carlos Moreira

In [7]:
tratamentoDados_DF = pd.merge(vendas_DF, vendedores_DF, on='Id Vendedor', 
                                how="left", suffixes=('Vendas',"Checagem"))
tratamentoDados_DF = tratamentoDados_DF.dropna()
display(tratamentoDados_DF)

   Id Vendedor  VendedorVendas  Vendas VendedorChecagem
3        22936  Amanda Martins    5469   Amanda Martins
6        37579    Angela Maria    5003     Angela Maria
7        20437  Carlos Moreira    6799   Carlos Moreira

In [9]:
del tratamentoDados_DF['VendedorChecagem']
display(tratamentoDados_DF)

   Id Vendedor  VendedorVendas  Vendas
3        22936  Amanda Martins    5469
6        37579    Angela Maria    5003
7        20437  Carlos Moreira    6799