# AULA 08 : IDENTIFICANDO E REMOVENDO DUPLICATAS

In [3]:
import pandas as pd
import numpy as np

In [4]:
baseVendas_DF = pd.read_excel("Base_Vendas.xlsx")

In [ ]:
#Método nunique -> retorna um resumo dos itens, 
#conta quantos valores únicos possui um DataFrame

In [5]:
resumoValoresUnicos = baseVendas_DF.nunique() #Resumo valores únicos
print(resumoValoresUnicos)

Vendedor        6
Total Vendas    9
dtype: int64

In [9]:

#Método duplicated 

#subset = Considere apenas determinadas colunas para identificar duplicatas, por padrão, use todas as colunas.
#keep = Controla como considerar o valor da duplicidade 
#Determina quais duplicatas (se houver) marcar.
#firt: Marca as duplicatas como Verdadeiro, exceto pela primeira ocorrência.
#last: Marca as duplicatas como Verdadeiro, exceto pela última ocorrência.
#false: Marca todas as duplicatas como Verdadeiro.
confereDuplicidades = baseVendas_DF.duplicated(subset="Vendedor", keep="first")
print(confereDuplicidades)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7     True
8     True
dtype: bool

In [10]:
baseVendas_DF['Confere Duplicidade'] = baseVendas_DF.duplicated(subset="Vendedor", keep="first")
display(baseVendas_DF)

           Vendedor  Total Vendas  Confere Duplicidade
0    Amanda Martins       1485.60                False
1      Angela Maria        359.96                False
2    Carlos Moreira        489.93                False
3   Gabriel Cardoso        448.28                False
4   Gabriel Cardoso       1344.84                 True
5  Leonardo Almeida        719.92                False
6   Nicolas Pereira        306.80                False
7   Nicolas Pereira       1048.68                 True
8   Nicolas Pereira        573.30                 True

In [13]:
#Removendo valores duplicados 
#Método .drop_duplicates -> remove itens duplicados, dependendo do valor de keep
removerDuplicidades = baseVendas_DF.drop_duplicates(subset="Vendedor", keep="first")
display(removerDuplicidades)

           Vendedor  Total Vendas  Confere Duplicidade
0    Amanda Martins       1485.60                False
1      Angela Maria        359.96                False
2    Carlos Moreira        489.93                False
3   Gabriel Cardoso        448.28                False
5  Leonardo Almeida        719.92                False
6   Nicolas Pereira        306.80                False