<h1> AULA 01: CURSO PANDAS </h1>

In [4]:
import pandas as pd
import numpy

Vou criar um DataFrame (tabela) com datas. Para isso devo colocar dentro do método date_range a data de início e a quandidade de dias (periods).

#date_range = método de criação do DataFrame
#periods = número de datas
#freq = dias, meses ou anos a serem repetidos, podendo ser multiplicado
#tz = timezone

In [6]:
dataFrame_datas = pd.date_range("20230630", periods=20)
display(dataFrame_datas)

DatetimeIndex(['2023-06-30', '2023-07-01', '2023-07-02', '2023-07-03',
               '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07',
               '2023-07-08', '2023-07-09', '2023-07-10', '2023-07-11',
               '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-15',
               '2023-07-16', '2023-07-17', '2023-07-18', '2023-07-19'],
              dtype='datetime64[ns]', freq='D')

In [7]:
dataFrame_datas = pd.date_range(start="20230701", end="20230731", name="MÊS DE JULHO")
display(dataFrame_datas)

DatetimeIndex(['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04',
               '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08',
               '2023-07-09', '2023-07-10', '2023-07-11', '2023-07-12',
               '2023-07-13', '2023-07-14', '2023-07-15', '2023-07-16',
               '2023-07-17', '2023-07-18', '2023-07-19', '2023-07-20',
               '2023-07-21', '2023-07-22', '2023-07-23', '2023-07-24',
               '2023-07-25', '2023-07-26', '2023-07-27', '2023-07-28',
               '2023-07-29', '2023-07-30', '2023-07-31'],
              dtype='datetime64[ns]', name='MÊS DE JULHO', freq='D')

In [8]:
pd.date_range(
    start=pd.to_datetime("1/1/2018").tz_localize("Europe/Berlin"),
    end=pd.to_datetime("1/08/2018").tz_localize("Europe/Berlin"),
)

DatetimeIndex(['2018-01-01 00:00:00+01:00', '2018-01-02 00:00:00+01:00',
               '2018-01-03 00:00:00+01:00', '2018-01-04 00:00:00+01:00',
               '2018-01-05 00:00:00+01:00', '2018-01-06 00:00:00+01:00',
               '2018-01-07 00:00:00+01:00', '2018-01-08 00:00:00+01:00'],
              dtype='datetime64[ns, Europe/Berlin]', freq='D')

In [9]:
dataFrame_Anos = pd.date_range("20230630", periods=12, freq="Y")
display(dataFrame_Anos)

DatetimeIndex(['2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31', '2030-12-31',
               '2031-12-31', '2032-12-31', '2033-12-31', '2034-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

<h2 sytle = "color: blue;"> DataFrames com Números Aletórios </h2>

In [24]:
NumerosAleatorios = pd.DataFrame(numpy.random.rand(5,1)) #DataFrame com 5 linhas e 1 coluna
display(NumerosAleatorios)

          0
0  0.859537
1  0.050820
2  0.526265
3  0.480875
4  0.398077

In [26]:
NumerosAleatorios = pd.DataFrame(numpy.random.rand(10,5)*100) #DataFrame com 10 linhas e 5 coluna
display(NumerosAleatorios)

           0          1          2          3          4
0  87.908253  33.238332  30.648099  27.873919  54.554289
1  44.462063  87.283601  58.641207  21.214286  37.251722
2  69.121257  78.169591  40.222434  53.846833  39.798750
3  15.448505  67.976929  80.854334  73.645764  28.401101
4  95.429013   7.152116  52.165886  80.258840   9.237965
5  85.515779  22.596876  54.717800  83.188358   1.709418
6  53.759318  67.008324  34.822877  87.452144  39.050137
7  58.525587  29.845768  58.117231  21.711580   6.915173
8  29.580589  25.666302  92.988982  45.460108  54.635119
9  79.818669  94.614449  50.834258  15.756363  41.824576