# Aula 13: Merge Join Full

In [2]:
import pandas as pd

In [3]:
loja1_DF = pd.read_excel('Vendedores_Join_Full_Loja1.xlsx')
loja2_DF = pd.read_excel('Vendedores_Join_Full_Loja2.xlsx')

In [4]:
#concat = uni os arquivos
#Join Full - Uniu todos os arquivos
vendas_Loja1_Loja2 = pd.concat([loja1_DF, loja2_DF])
display(vendas_Loja1_Loja2)

   Id Vendedor          Vendedor  Vendas    Meta
0        27264  Leonardo Almeida  5000.0     NaN
1        21732    Eliane Moreira  5000.0     NaN
2        27082   Nicolas Pereira  5000.0     NaN
3        22936    Amanda Martins  5000.0     NaN
4        21164      Paulo Santos  5000.0     NaN
5        28824   Gabriel Cardoso  5000.0     NaN
6        37579      Angela Maria  5000.0     NaN
7        20437    Carlos Moreira  5000.0     NaN
0        27265   Marcos Oliveira     NaN  5000.0
1        21732    Eliane Moreira     NaN  5000.0
2        27082   Nicolas Pereira     NaN  5000.0
3        22911     Pedro Camargo     NaN  5000.0

In [ ]:
#Remoção de itens duplicados
#Subset -> identifico qual coluna eu quero fazer a remoção das duplicatas
SemvendedoresDuplicados = vendas_Loja1_Loja2.drop_duplicates(subset="Id Vendedor")
print(ClientesDuplicados)